<!DOCTYPE HTML>
<html>
    <head>
        <title>Email Sent Confirmation</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/main.css" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <center>
            <div class="banner">
                <h1>Email sent successfully.</h1>
                <p>Thanks for the note!</p>
                <hr>
                <center>
                    <a href="https://thadmegow.net" class="button special">Return to ThadMegow.Net</a>
                </center>
            </div>
        </center>

    </body>
</html>
